@font-face {
    font-family: taj1 ;
    src: url(./8vIU7ww63mVu7gtR-kwKxNvkNOjw-tbnfY3lC2xcZqTFUw.ttf);
}
@font-face {
    font-family: taj2;
    src: url(./UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hjp-Ek-_EeA.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,body {
height: 100%;
width:100%;
}
#main{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    position: relative;
    
}
#nav{
    width: 100%;
    height: 15vh;
    position: fixed;
z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */

}
#left-nav{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
#right-nav {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#right-nav button{
    padding: 1vw;
    background-color: #AD8B3A;
    color: white;
    border: none;
    border-radius: 2px;
}
#nav a{
    text-decoration: none;
    color: white;
    font-size: 2.9vh;
    font-family: "taj2";
    text-transform: uppercase;
}
#book-now{
    background-color: #AD8B3A;
    padding: 2vh 3vh;
    border-radius: 2px;
    color: white;
}
#nav #white-img{
    height: 100%;
    object-fit: cover;

    
}
#nav #golden-img{
    position: absolute;
    left: 47.85%;
    opacity: 0;
    height: 55%;
    scale: 0;
  

}

#page1 #video-container{
    width: 100%;
    height: 94vh;
    /* padding: 10vh; */
    display: flex;
    align-items: center;
    justify-content: center;

}
#video-container video{
    width: 55%;
    height: 50vh;

 
    object-fit: cover;

}
#page2{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: -1;
    


}
#right-part{
    width: 50vw;
    height: 100vh;
    position: relative;
  

}
#right-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;


}

#right-part img{
  height: 100%;
  width: 100%;
object-fit: cover;
}
#left-part{
    width: 50vw;
    height: 100vh;
 position: relative;


}
#left-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
    color: #AD8B3A;;

}

#text-area{
   margin-top: 30vh;
   margin-left: 20vh;
    width: 40vw;
    height: 50vh;
  font-family: taj1;
    padding: 10px;
    color: #AD8B3A;
   border-left: 1px solid #AD8B3A;
   border-top: 1px solid #AD8B3A;
   padding: 10vh;
}
#text-area> h1{
    color: #AD8B3A;
  font-size: 3vw;

}
#text-upper{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #AD8B3A;
}
#text-upper>h1{
    color: #AD8B3A;
    

}
#line{
    width: 70px;
    height: 0.5px;
    background-color: #AD8B3A;;
}

#right-overlay p{
    font-family: "taj2";
    font-size: 2.5vh;
    color: white;
    position: absolute;
    left: 1%;
    top: 30%;
    width: 85%;
    padding: 25vh 0vh;
    padding-right: 5vh;
    color: #AD8B3A;
  border-right: 1px solid #AD8B3A;
    height: 50vh;
    border-bottom: 1px solid #AD8B3A;

}
#left-part img{
    height: 100%;
    width: 100%;
  object-fit: cover;
  }
  #page2> h2{
    position: absolute;
    top: 50%;
    left: 50%;
   color: white;
   transform: translate(-50%,-50%);
   text-align: center;
   font-family: "taj1";
   font-size: 10vh;

  }
  #page3{
    width: 100%;
    min-height: 150vh;
    padding-top: 5vh;
   position: relative;
    background-image: url("https://i.pinimg.com/736x/fb/e0/13/fbe01305bcb704e0f089bb85c66d2ba3.jpg");
     background-position: top;
     background-size: cover;
     margin-top: 5vh;

  }
  .page3-pride{
    height: fit-content;
    overflow: hidden;
    /* margin-left: 15vh; */
    /* width: 100%; */
 
    text-align: center;

  }
  #page3 h1{
    font-family: taj2;
    font-size: 5vw;
    line-height: 18vw;
    letter-spacing: -6px;
    color: #fff;
    font-weight: 400;
    line-height: 25vh;
    /* letter-spacing: -6px; */
    word-spacing: 30px;
    font-weight: 600;
    
    
 
}
.page3-pride h1 span{
    display: inline-block;
    color: #ffffff;
   
   
}
#page4{
    min-height: 100vh;
    width: 100%;
 
}
#page4-text{
   
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#room-text h1{

  font-size: 4.5vw;
  font-family: taj1;

}
/* #room-text h1 span{
    display: inline-block;

} */

  #food-div{
    width: 100%;
    min-height: 120vh;

    padding: 5vh;
position: relative;
  }
  #food-div #first-food-img{
    height:60vh;
    border-radius: 20px;
    width: 45%;
    object-fit: cover;
    position: absolute;
    left: 40%;
    top: 5%;
  }
  #food-div #second-food-img{
    height:60vh;
    border-radius: 20px;
    width: 35%;
    object-fit: cover;
    position: absolute;
    left: 3%;
    top: 40%;
  }
  #food-div #third-food-img{
    height:60vh;
    border-radius: 20px;
    width: 25%;
    object-fit: cover;
    position: absolute;
    left: 41%;
    top: 60%;
  }
  #food-text{
    width: 30%;
    margin-bottom:50px ;
    font-family: taj2;
   
  }

  
  #food-text p{
    color: #000

  }
  #explore-foods {
    display: flex;
    align-items: center;
 margin-top: 50px;
    gap: 20px;
   
  }
  #explore-foods p{
    color: #AD8B3A;
  }
  #explore-foods i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 30px;
    background-color: #AD8B3A;
    border-radius: 50px;
  }
  
  #page5{
    width: 100%;
min-height: 100vh;

padding-top: 30vh;
padding-left: 10vh;
}
.food-items{
    width: 92%;
    height: 32vh;
    display: flex;
  overflow: hidden;
position: relative;
    border: 0.5px solid #AD8B3A;
    border-bottom: none;
   

 

}
.food-items:nth-child(1){
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.food-items:nth-child(5){
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 0.5px solid #AD8B3A;
  }


  .food-items img{
    height: 100%; 
    object-fit: cover;
    position: absolute;
    left: -300px; 
  }
  .food-items-text{
    padding-top: 10vh;
    padding-left: 18vh;
    width: 50%;
    height: 100%;
    position: absolute;
    
  }
  .food-items-text h3{
    font-size: 2.5vw;
    font-family: taj1;
    color: #AD8B3A;
  }

  .text-with-icon{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
  
    
  }
  .text-with-icon p{
    font-size: 12px;
    font-family: taj2;
    color: #AD8B3A;

    
   
  }
  .text-with-icon i{
    font-size: 19px;
    width: 20px;  
  }
#page6{
    width: 100%;
    min-height: 100vh;

}